body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  background-image: none;
  background-color: #fff;
}

.complex-brief-wrapper {
  display: flex;
  justify-content: space-between;
}

.complex-brief-info {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.complex-brief-info-name {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #3e4247;
}

.complex-brief-info-address{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.375rem;
  color: #a9afb6;
}

.complex-brief-button-fav {
	border-radius: 2px;
	border: solid 1px #e0e0e1;
  background-color: #fff;
  font-size: .625rem;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  color: #00779a;
  padding: .5rem 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

.complex-display-photos {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.complex-display-photo {
  height: 25rem;
  width: auto;
}

.complex-display-button-wrapper {
  position: relative;
}

.complex-display-button-all {
  position: absolute;
  bottom: 1rem;
  background-color: #00779a;
  padding: .5rem 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: .625rem;
  line-height: .625rem;
  color: #fff;
  border-radius: 2px;
  border: none;
}

.complex-display {
  margin-bottom: 24px;
}

.complex-info-facts {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e0e0e1;
}

.complex-subheading {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  color: #3e4247;
  font-size: 1.5rem;
  line-height: 1.125;
}

.complex-info-facts-title {
  display: inline-block;
  margin-right: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.complex-info-facts-small {
  display: inline-block;
  font-size: 0.875rem;
  color: #a9afb6;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  line-height: 1.375rem;
  margin-top: 0.625rem;
}

.complex-specs {
  margin-top: 2rem;
  margin-bottom: 0;
}

.complex-specs-title {
  margin-top: 0;
  margin-bottom: .5rem;
}

 .complex-specs-table {
   margin-top: 0;
   margin-bottom: 0;
 }

.complex-specs-label {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
  color: #a9afb6;
  width: 50%;
  margin-top: .5rem;
  margin-bottom: 0;
}

.complex-specs-definition {
  display: inline-block;
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 500;
  margin-top: .5rem;
  margin-bottom: 0;
  margin-left: 0;
}

.complex-specs {
  margin-top: 2rem;
  margin-bottom: 0;
}

.complex-description {
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e0e0e1;
}

.complex-description-text {
  white-space: pre-line;
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625;
  margin-top: 0;
  margin-bottom: 0;
}

.complex-description-title {
  margin-top: 0;
}

.complex-infrastructure-title {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.complex-infrastructure-text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625;
  margin-top: 0;
  margin-top: .5rem;
  margin-bottom: 0;
  color: #3e4247;
}

.complex-infrastructure {
  margin-bottom: 4rem;
}

.complex-options {
  background-color: #f4f5f9;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.complex-options-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.complex-options-subtitle {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  color: #3e4247;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}

.complex-options-label {
  color: #a9afb6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.complex-options-value {
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.complex-options-card {
  background-color: #fff;
  max-width: 24rem;
  padding: 1.5rem 2rem;
}

.complex-options-button-cta {
  display: block;
  padding: .75rem 2rem;
  margin: 2rem auto 0;
  border-radius: .125rem;
  background-color: #000;
  color: #fff;
  line-height: 1;
  font-family: 'Fira Sans', serif;
  font-size: 1rem;
  border: none;
}

.complex-guide {
  background-color: #3e4247;
  padding-top: 4rem;
  padding-bottom: 13.625rem;
}

.complex-guide-location {
  color: #a9afb6;
  margin-top: 7.25rem;
  margin-bottom: 3rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.125;
}

.complex-guide-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.25;
}

.complex-guide-link {
  color: #00779a;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 7.25rem;
  text-decoration: none;
}

.complex-guide-photo {
  width: auto;
  height: 35rem;
  line-height: 0;
}

.complex-directions {
  position: relative;
  bottom: 9.625rem;
  margin-bottom: -7.625rem;
}

.complex-directions-map {
  width: 100%;
  height: 19.125rem;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.complex-directions-card {
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.complex-directions-card-poi {
  background-color: #fff;
  padding: 1.5rem 1.5rem 1.5625rem;
  border-bottom: 1px solid #e0e0e1;
  box-sizing: border-box;
}

.complex-directions-card-poi-place {
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.complex-directions-card-poi-time {
  color: #a9afb6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
