body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  background-image: url('../img/background.png');
  background-repeat: repeat;
  background-size: 20px;
  background-color: #eaebf0;
}

/*Header start*/

.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #eaebf0;
  background-color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-link {
  margin-left: 2rem;
  text-decoration: none;
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.complexes-hero {
  display: flex;
  background-color: #161616;
  justify-content: center;
  padding: 5rem 0rem;
}

.complexes-hero-compass-development-logo {
  width: 418.9px;
  height: 131px;
  object-fit: contain;
}

.complexes-headline {
  padding: 4rem 0rem;
  text-align: center;
}

.complexes-headline-title {
  font-size: 1.5rem;
  line-height: 2.3125rem;
  font-family: 'Fira Sans', serif;
  margin: 0;
  padding: 0;
}

.complexes-headline-paragraph {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Fira Sans', serif;
  font-weight: 400;
  margin-top: .5rem;
}

.button-complexes-contact {
  padding: .75rem 2rem;
  border-radius: .125rem;
  background-color: #000;
  color: #fff;
  line-height: 1;
  font-family: 'Fira Sans', serif;
  font-size: 1rem;
  border: none;
}

.complexes-cards {
  margin-bottom: 6rem;
}

.complexes-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  background-color: white;
  text-decoration: none;
}

.complexes-card:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
}

.complexes-card-content {
  padding: 1.5rem 6.25rem 1.5rem 1rem;
  box-shadow: inset 0rem -.125rem #646971;
}

.complexes-card-location {
  font-size: 1rem;
  color: #646971;
  font-family: 'Monaco';
  line-height: 1.25rem;
  margin: 0 0 1.5rem;
}

.complexes-card-address {
  font-family: 'Fira Sans', serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: black;
  margin: 0 0 .5rem;
}

.complexes-card-description {
  font-family: 'Fira Sans', serif;
  color: #3e4247;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.complexes-card-photo {
  object-fit: cover;
  flex-shrink: 0;
  width: 31.125rem;
}

/*Complexes.html styles end*/

/*Complex.html styles start*/

.complex-brief {
  display: flex;
  justify-content: space-between;
}

.complex-brief-info {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.complex-brief-info-name {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #3e4247;
}

.complex-brief-info-address{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.375rem;
  color: #a9afb6;
}

.complex-brief-button-fav {
	border-radius: 2px;
	border: solid 1px #e0e0e1;
  background-color: #fff;
  font-size: .625rem;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  color: #00779a;
  padding: .5rem 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

.complex-display-photos {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.photo {
  height: 25rem;
  width: auto;
}

.complex-display-wrapper {
  position: relative;
}

.complex-display-button-all {
  position: absolute;
  bottom: 1rem;
  background-color: #00779a;
  padding: .5rem 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: .625rem;
  line-height: .625rem;
  color: #fff;
  border-radius: 2px;
  border: none;
}

.complex-display {
  margin-bottom: 24px;
}

.complex-info-about {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e0e0e1;
}

.complex-subheading {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  color: #3e4247;
  font-size: 1.5rem;
  line-height: 1.125;
}

.complex-info-about-title {
  display: inline-block;
  margin-right: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.complex-info-about-small {
  display: inline-block;
  font-size: 0.875rem;
  color: #a9afb6;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  line-height: 1.375rem;
  margin-top: 0.625rem;
}

.complex-specs {
  margin-top: 2rem;
  margin-bottom: 0;
}

.complex-specs-title {
  margin-top: 0;
  margin-bottom: .5rem;
}

 .complex-specs-table {
   margin-top: 0;
   margin-bottom: 0;
 }

.complex-specs-label {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
  color: #a9afb6;
  width: 50%;
  margin-top: .5rem;
  margin-bottom: 0;
}

.complex-specs-definition {
  display: inline-block;
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 500;
  margin-top: .5rem;
  margin-bottom: 0;
  margin-left: 0;
}

.complex-specs {
  margin-top: 2rem;
  margin-bottom: 0;
}

.complex-description {
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e0e0e1;
}

.complex-description-text {
  white-space: pre-line;
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625;
  margin-top: 0;
  margin-bottom: 0;
}

.complex-description-title {
  margin-top: 0;
}

.complex-infrastructure-title {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.complex-infrastructure-text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625;
  margin-top: 0;
  margin-top: .5rem;
  margin-bottom: 0;
  color: #3e4247;
}

.complex-infrastructure {
  margin-bottom: 4rem;
}

.complex-options {
  background-color: #f4f5f9;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.complex-options-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.complex-options-subtitle {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  color: #3e4247;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}

.complex-options-label {
  color: #a9afb6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.complex-options-value {
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.complex-options-card {
  background-color: #fff;
  max-width: 24rem;
  padding: 1.5rem 2rem;
}

.button-complex-cta {
  display: block;
  padding: .75rem 2rem;
  margin: 2rem auto 0;
  border-radius: .125rem;
  background-color: #000;
  color: #fff;
  line-height: 1;
  font-family: 'Fira Sans', serif;
  font-size: 1rem;
  border: none;
}

.complex-guide {
  background-color: #3e4247;
  padding-top: 4rem;
  padding-bottom: 13.625rem;
}

.complex-guide-location {
  color: #a9afb6;
  margin-top: 7.25rem;
  margin-bottom: 3rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.125;
}

.complex-guide-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.25;
}

.complex-guide-link {
  color: #00779a;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 7.25rem;
  text-decoration: none;
}

.complex-guide-photo {
  width: auto;
  height: 35rem;
  line-height: 0;
}

/*Flexboxgrid column adds strange 4px on the bottom for some reasons*/
.complex-guide-photo {
  margin-bottom: -0.25rem;
}

.complex-directions {
  position: relative;
  bottom: 9.625rem;
  margin-bottom: -7.625rem;
}

.complex-directions-map {
  width: 100%;
  height: 19.125rem;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.complex-directions-card {
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.complex-directions-poi {
  background-color: #fff;
  padding: 1.5rem 1.5rem 1.5625rem;
  border-bottom: 1px solid #e0e0e1;
  box-sizing: border-box;
}

.complex-directions-poi-place {
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.complex-directions-poi-time {
  color: #a9afb6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

/*Complex.html styles end*/

/*Footer styles start*/

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #111;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #111;
}

.footer-legal-title {
  color: #646971;
  font-family: 'Fira Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-legal-text {
  color: #A9AFB6;
  font-family: 'Fira Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 300;
  margin-top: .5rem;
  margin-bottom: 0;
}
.footer-legal-text-tel {
  color: #A9AFB6;
  font-family: 'Fira Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-complexes-title {
  color: #646971;
  font-family: 'Fira Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 2px solid #3e4247;
}

.footer-link {
  text-decoration: none;
  display: block;
  margin-bottom: 0;
  margin-top: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 300;
  color: #fff;
}

.footer-complexes-link-all {
  margin-bottom: 0;
  margin-top: 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 300;
  color: #fff;
}

.footer-complexes-link-all-arrow {
  margin-left: .5rem;
}

.footer-complexes-link-all-arrow {
  margin-left: .5rem;
}

.footer-about-title {
  color: #646971;
  font-family: 'Fira Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 2px solid #3e4247;
}

.footer-copyright {
  margin-top: 6rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: .6875rem;
  line-height: 1.125rem;
  font-weight: 100;
  color: #a9afb6;
}

/*Footer styles end*/
