.row {
  display: flex;
}

[class*="col-"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1 {
  flex-basis: 8.33333333%;
}

.col-2 {
  flex-basis: 16.66666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33333333%;
}

.col-5 {
  flex-basis: 41.66666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33333333%;
}

.col-8 {
  flex-basis: 66.66666667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33333333%;
}

.col-11 {
  flex-basis: 91.66666667%;
}

.col-12 {
  flex-basis: 100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  background-image: url('../img/background.png');
  background-repeat: repeat;
  background-size: 20px;
  background-color: #eaebf0;
}

.header {
  padding: 1.25rem 8rem;
  align-items: center;
  background-color: white;
}

.compass-logo {
  width: 179.1px;
  height: 24px;
  object-fit: contain;
}

.nav {
  margin-left: auto;
}

.nav-link {
  margin-left: 2rem;
  text-decoration: none;
  color: #3e4247;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.compass-development-logo {
  width: 418.9px;
  height: 131px;
  object-fit: contain;
}

.hero {
  display: flex;
  background-color: #161616;
  justify-content: center;
  padding: 5rem 0rem;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem;
  text-align: center;
}

.headline-heading {
  font-size: 1.5rem;
  line-height: 2.3125rem;
  font-family: 'Fira Sans', serif;
  margin: 0;
  padding: 0;
}

.headline-paragraph {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Fira Sans', serif;
  font-weight: 400;
  margin-top: .5rem;
}

.button-contact {
  padding: .75rem 2rem;
  border-radius: .125rem;
  background-color: #000;
  color: #fff;
  line-height: 1;
  font-family: 'Fira Sans', serif;
  font-size: 1rem;
  border: none;
}

.cards {
  margin: 0 auto;
  max-width: 74rem;
}

.card {
  flex-direction: row;
  margin-bottom: 3rem;
  background-color: white;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
}

.card-content {
  padding: 1.5rem 6.25rem 1.5rem 1rem;
  box-shadow: inset 0rem -.125rem #646971;
}

.card-location {
  font-size: 1rem;
  color: #646971;
  font-family: 'Monaco';
  line-height: 1.25rem;
  margin: 0 0 1.5rem;
}

.card-address {
  font-family: 'Fira Sans', serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: black;
  margin: 0 0 .5rem;
}

.card-description {
  font-family: 'Fira Sans', serif;
  color: #3e4247;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.bitmap {
  width: 484px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
}

.footer-wrapper {
  background-color: #111;
}

.footer-container {
  margin: 6rem auto 0 auto;
  width: 74rem;
  max-width: 74rem;
  padding: 2rem 0;
  background-color: #111;
  color: white;
  font-family: 'Fira Sans', serif;
  font-size: .875rem;
  line-height: 1.375rem;
}

.footer-link {
  text-decoration: none;
  display: block;
  margin-bottom: .5rem;
  margin-top: 0;
}

.footer-heading {
  font-weight: 700;
  color: #646971;
  margin-bottom: .5rem;
  margin-top: 0;
}

.footer-paragraph {
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: 300;
  color: #a9afb6;
}

.footer-info {
  padding-left: 0;
}

.footer-paragraph-tel {
  margin-top:1rem;
}

.footer-apartments .footer-heading {
  border-top: .125rem solid #3e4247;
  padding-top: 1rem;
}

.footer-apartments .footer-link {
  font-weight: 300;
  color: #fff;
}

.footer-link-catalog {
  margin-top: 1rem;
}

.footer-company .footer-heading {
  border-top: .125rem solid #3e4247;
  padding-top: 1rem;
}

.footer-company .footer-link {
  font-weight: 300;
  color: #fff;
}

.footer-copyright {
  margin-top: 5.75rem;
  font-size: .6875rem;
  line-height: 1.125rem;
  font-weight: 100;
  color: #a9afb6;
  padding-right: 0;
}
